<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid prediction UI </title>
    <link rel="stylesheet" href="styles.css">
    
</head>

<body style="font-family: Poppings;">
    <h1>This is Covid classifier | Done by Ahmed Raafat</h1>
    <p>Please choose an image and click submit.</p>
    <div>
        <form method="post" enctype="multipart/form-data">
            <input type="file"name="file">
            <input type="submit">
        </form>
    </div>
    {% if result%}
    <div>
        <p>Condition: {{result.Prediction}}</p>
        <p>Prediction score: {{result.Score}}</p>
    </div>
    {% endif %}
</body>

</html>
